body{
    background-color: rgb(222, 186, 243);
}

header{
    width: 90%;
    margin: auto;;

}

header a.select-banner{
    transition-duration: 1s;
}

    header a.select-banner:hover{
        opacity: 0.2;
        transition-duration: 1s;
    }
            head a.select-banner img{
            
                opacity: 0.8;
            }

hr{
    border-color: red;
}

div ul{
    list-style-type: none;
    transform: skewX(3deg);
    background-color: rgb(255, 34, 67);

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}
    div ul div.list-menu-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        
    }
        div.list-menu-header>li{
            color: rgb(255, 215, 221);
            padding: 10px;
            width: max-content;
            margin:auto;
            display: block;
            transition: 0.5s;
            text-decoration-style: dashed;
            text-decoration-line: overline;
            text-shadow: -1px 1px 2px;
            cursor: pointer;

        }

        div.list-menu-header>li:hover{
            color: white;
            background-color:rgb(121, 0, 18) ;
            opacity: 0.8;
            transition: 0.5s;

            border-left: 0px;
            border-right: 0px;
            border-bottom: 5px;
            border-top: 0px;
            border-style: solid;
            border-color: yellow;
        }
@keyframes texto-desplazar{
    0%{
        color: red;

        left: 0%;
    }
    40%{
        color: blue;
        left: 20%;
    }
    60%{
        color: chocolate;
        left: 40%;
    }
    100%{
        color: darkgreen;
        left: 60%;
    }
}

#label-text-desplazar{

    position: relative;
    animation-name: texto-desplazar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
}

.content-header{
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: url("../img/ImagenOpaco1.jpg");
    background-size: 100% 100%;
}

.content-header::before{
    content: "";
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg,transparent,rgb(68,68,68),black);
    opacity: 0.9;
}

.content-header-1{
    width: 50%;
    color: white;
    display: block;
    /*background-color: rgba(227, 197, 245, 0.2);   */ 

}
.content-header-2{
    width: 50%;
    color:white;
    position: relative;
    /*background-color: rgba(227, 197, 245, 0.5);*/    
}

.boton-info{
    font-size: 30px;
    background-color: cornflowerblue;
    border-width: 0px;
    padding: 2%;
}
.boton-info:hover{
    background-color: darkcyan;
}

/*MAIN*/
main{
    margin: auto;
    width: 90%;
    border-width: 4px;
    border-radius: white;
    border-style: double;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
}

.main-content{
    display: flex;
}

.main-content> section{
    width: 50%;
}

.publicidad-1{
    background-image: url();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.publicidad-1 img{
    width: 90%;
    height: 80%;
}

.series-cotent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.series-cotent>section{
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.section-1{
    background-image: url("../img/imagen-serie.jpg");
    background-size: 100% 100%;
    position: relative;
    transition: 1s;    
}
.section-2{
    background-image: url("../img/imagen-serie.jpg");
    background-size: 100% 100%;
    position: relative;    
    transition: 1s;
}
.section-3{
    background-image: url("../img/imagen-serie.jpg");
    background-size: 100% 100%;
    position: relative;    
    transition: 1s;
}
.section-4{
    background-image: url("../img/imagen-serie.jpg");
    background-size: 100% 100%;
    position: relative;    
    transition: 1s;
}
.section-5{
    background-image: url("../img/imagen-serie.jpg");
    background-size: 100% 100%;
    position: relative;    
    transition: 1s;
    
}
.section-1::before,.section-2::before,.section-3::before,.section-4::before,.section-5::before{
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg,red,blue);
    opacity: 0.5;
}

    .section-1:hover,.section-2:hover,.section-3:hover,.section-4:hover,.section-5:hover{
        transition: 1s;
        opacity: 0.4;
    }

h1.texto-series{
    font-size: 35px;
    color: white;
    position: relative;
}

footer{
    width: 90%;
    margin: auto;
    background-color: black;
    border-radius: 10px;

    border-width: 5px;
    border-style: double;
    border-color: white;
   
    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

footer >ul{
    list-style-type: none;
}